@import "../variables.less";

:local(.className) {
  // iframe {
  //   margin: 0 auto;
  //   display: block;
  //   z-index: 1;
  //   position: relative;
  // }

  @media (max-width: @screen-xs-max) {
    iframe {
      margin-top: 0;
    }
  }

  img {
    margin: 20px 0;
  }
  .col-md-6 img {
    margin: 0;
    margin-bottom: 20px;
  }
}
