@import "../variables.less";

:local(.className) {

    .navbar {
        background-color: transparent;
        margin-top: 3em;
    }

    .navbar .container .navbar-collapse {
        border-bottom: 1px solid lighten(@metal, 50%);
        padding-bottom: 3em;
    }

    .navbar-brand {
        font-size: 3em;
        line-height: 1.2em;
        color: lighten(@metal, 0%);
        font-family: "franklin-gothic-urw",sans-serif;
        font-weight: 400;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    .navbar-brand:hover {
        color: darken(@metal, 10%);
    }
    .navbar .navbar-nav li {
        width: 8em;
    }
    .navbar .navbar-nav a {
        font-family: "futura-pt",sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        color: lighten(@metal, 20%);
        font-size: @font-size-h4;
    }
    .navbar .navbar-nav a:hover, .navbar .navbar-nav .active a {
        color: darken(@metal, 10%);
    }

    .socialMediaLink {
        padding: 4px;
        font-size: 1.4em;
    }
}

