@import "../variables.less";

:local(.className) {

    .navbar {
        background-color: transparent;
        margin-top: 0em;
        margin-bottom: 1em;
    }

    .navbar .container .navbar-collapse {
        border-bottom: 2px solid lighten(@metal, 60%);
        padding-bottom: 1em;
    }

    .navbar-brand {
        font-size: 3em;
        line-height: 1.2em;
        color: lighten(@metal, 0%);
        font-family: "franklin-gothic-urw",sans-serif;
        font-weight: 400;
        letter-spacing: 8px;
        text-transform: uppercase;
    }

    @media (max-width: @screen-sm-min) {
        .navbar-brand {
            font-size: 2em;
            padding-top: 0.8em;
        }
        .navbar-toggle {
            margin-top: 1.85em;
        }
    }

    .navbar-brand:hover {
        color: darken(@metal, 10%);
    }
    .navbar .navbar-nav a {
        font-family: "futura-pt",sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        color: lighten(@metal, 20%);
        font-size: @font-size-h4;
        padding-top: 10px;
        padding-bottom: 11px;
        margin-top: 34px;
    }
    .navbar .navbar-nav a:hover, .navbar .navbar-nav .active a {
        color: darken(@metal, 10%);
    }

    .navbar .navbar-nav .socialMediaLink a span {
        padding: -4px 0;
    }
    .navbar .navbar-nav .socialMediaLink a {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }

    @media (max-width: @screen-sm-min) {
        .navbar .navbar-nav .socialMediaLink a {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

