@import "../variables.less";

:local(.className) {
  h2 {
    font-size: @font-size-h4;
    text-transform: none;
    font-weight: normal;
  }
  p {
    padding-top: 1em;
  }
  .row {
    margin-bottom: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

}
