@import "../variables.less";

:local(.className) {
  padding: 32px;
  max-width: 400px;

  a.rollover {
    .imgContainer {
      position: relative;
    }
    .artImg {
      overflow: hidden;
    }

    img {
      width: 100%;
    }
    .gif {
      display: none;
    }
  }
  a.rollover:hover {
    .still {
      display: none;
    }
    .gif {
      display: block;
    }
  }
  .tileBottom {
    a {
      color: @text-color-dark;
      font-weight: 600;
      font-family: @font-family-header;
    }
    a:hover {
        color: darken(@brand-info, 20%);
        text-decoration: none;
    }
    h3 {
      font-size: @font-size-h4;
    }

    small {
      float: right;
      line-height: 21px;
      color: @text-color-light;
    }

    span {
      color: @text-color-light;
    }
  }
}
